header {
  @include flex(normal, center, column);
  position: relative;
  z-index: 3;
  // Got this from: https://getcssscan.com/css-box-shadow-examples
  box-shadow: rgba(14, 63, 126, 0.04) 0px 0px 0px 1px,
    rgba(42, 51, 69, 0.04) 0px 1px 1px -0.5px,
    rgba(42, 51, 70, 0.04) 0px 3px 3px -1.5px,
    rgba(42, 51, 70, 0.04) 0px 6px 6px -3px,
    rgba(14, 63, 126, 0.04) 0px 12px 12px -6px,
    rgba(14, 63, 126, 0.04) 0px 24px 24px -12px;
  font-size: $nav-font;
  .header-content {
    @include flex(center, space-between, row);
    width: 100%;
    max-width: 125rem;
    margin: auto;
    background-color: $primary-color;
    min-height: 10vh;
    padding: 2rem 5rem;
  }
  .logo-search-container {
    @include flex(center, space-between, row);
  }
  .logo {
    width: 16.3rem;
    height: 4.4rem;
    img {
      width: 100%;
      height: 100%;
    }
  }

  form {
    position: relative;
    margin-left: 4rem;
    input {
      width: 40rem;
      height: 5rem;
      padding-left: 6rem;
      border-radius: 3rem;
      border: none;
    }
    &::before {
      content: url("../icon/iconmonstr-magnifier.svg");
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      top: 50%;
      left: 1.8rem;
      transform: translateY(-50%);
      pointer-events: none;
    }
    &:hover {
      ::placeholder {
        color: $font-color-opacity-80;
      }
    }
    &.inside-nav {
      display: none;
    }
  }
  nav {
    width: 35rem;
    ul {
      @include flex(center, space-between, row);
    }
  }
  .sveriges-godaste-hamburgare {
    @include flex(center, center, row);

    padding: 2rem 0;
    display: none;
    .menu {
      margin-right: 1.8rem;
    }
    .line-container {
      position: relative;
      @include flex(center, space-between, column);
      width: 3.3rem;
      height: 2.2rem;
      .line {
        width: 3.3rem;
        height: 0.2rem;
        background-color: $font-color;
        transition: all 0.75s ease;
      }
      .line.open {
        &:nth-child(1) {
          transform: translateY(500%) rotate(45deg);
        }
        &:nth-child(2) {
          transform: translateX(100%);
          opacity: 0;
        }
        &:nth-child(3) {
          top: 50%;
          transform: translateY(-500%) rotate(-45deg);
        }
      }
    }

    &:hover {
      .menu {
        color: $links-color-hover;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  header {
    .header-content {
      margin: 0;
      padding: 2rem 5rem;
    }
    form {
      margin-left: 4.2vw;
      input {
        // 32vw is 40rem when the viewport width is 1250px.
        width: 32vw;
      }
    }
    nav {
      width: calc(25rem + 8vw);
    }
  }
}

@media screen and (max-width: 950px) {
  header {
    nav {
      position: absolute;
      width: 100%;
      z-index: -1;
      left: 0;
      bottom: 0;
      transform: translateY(100%);
      display: none;
      ul {
        @include flex(center, center, column);
        height: 45rem;
        background-color: $secondary-color;
        li {
          margin: 3rem 0;
        }
      }

      &.showNavbarAnimation {
        animation: showNavbar 0.5s;
      }
      &.hideNavbarAnimation {
        animation: hideNavbar 0.5s;
      }
      &.display {
        display: block;
      }
    }
    .sveriges-godaste-hamburgare {
      display: flex;
    }
  }
}

@media screen and (max-width: 640px) {
  header {
    form {
      &.outside-nav {
        display: none;
      }
      &.inside-nav {
        display: block;
        input {
          width: 25rem;
          background-color: $primary-color;
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    .logo {
      margin-top: 0.2rem;
      width: 4rem;
      height: 4.8rem;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@keyframes showNavbar {
  from {
    opacity: 0;
    transform: translateY(0);
  }
  to {
    opacity: 1;
    transform: translateY(100%);
  }
}

@keyframes hideNavbar {
  from {
    opacity: 1;
    transform: translateY(100%);
  }
  to {
    opacity: 0;
    transform: translateY(0);
  }
}
