main.startsida {
  section.most-sold-products {
    margin-bottom: 10rem;
    h2 {
      margin-bottom: 5rem;
      text-align: center;
    }
    .products {
      @include grid(
        $columns: repeat(3, 25rem),
        $column-gap: 9rem,
        $row-gap: 3rem,
        $justify: center
      );
    }
    article {
      height: 39rem;
      border-radius: 1.5rem;
      background-color: $secondary-color;
      transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      &:hover {
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        transform: translateY(-0.2rem);
        h3 {
          text-decoration: underline;
        }
      }
    }
    a {
      @include flex(center, normal, column);
      height: 100%; // Because otherwise the link won't be clickable at the bottom of the product.
      img {
        width: 4rem;
        height: 17rem;
        margin-top: 1rem;
      }
      p.country {
        font-size: $p-subheading-font;
        color: $font-color-opacity-80;
        letter-spacing: 0.23rem;
        margin: 2rem 0;
      }
      p.description {
        color: $font-color-opacity-80;
        margin-top: 0.5rem;
        margin-bottom: 4.5rem;
      }
    }
  }

  section.latest-news {
    margin-bottom: 10rem;
    h2 {
      margin-bottom: 1rem;
      text-align: center;
    }
    p.h2-subheading {
      margin-bottom: 5rem;
      text-align: center;
    }
    .news {
      @include grid(
        $columns: repeat(3, 28rem),
        $column-gap: 9rem,
        $row-gap: 3rem,
        $justify: center
      );
      article {
        height: 45rem;
        background-color: $secondary-color;
        border-radius: 1.5rem;
        transition: box-shadow 0.25s ease-in-out, transform 0.25s ease-in-out;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        &:hover {
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          transform: translateY(-0.2rem);
          h3 {
            text-decoration: underline;
          }
        }
      }
      img {
        width: 28rem;
        height: 26.8rem;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
      }
      .content {
        padding: 2rem 2rem;
      }
      p.date {
        color: $font-color-opacity-80;
        font-size: $p-subheading-font;
      }
      h3 {
        margin-top: 1rem;
        font-weight: 400;
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  main.startsida {
    section.most-sold-products .products,
    section.latest-news .news {
      column-gap: calc(15vw - 10rem);
    }
  }
}

@media screen and (max-width: 950px) {
  main.startsida {
    section.latest-news {
      .news {
        grid-template-columns: repeat(2, 28rem);
        column-gap: calc(10vw - 5rem);
      }
    }
  }
}

@media screen and (max-width: 840px) {
  main.startsida {
    section.most-sold-products {
      .products {
        grid-template-columns: repeat(2, 25rem);
        column-gap: calc(10vw - 5rem);
      }
    }
  }
}

@media screen and (max-width: 600px) {
  main.startsida {
    section.latest-news {
      .news {
        grid-template-columns: repeat(1, 28rem);
      }
    }
    section.most-sold-products {
      .products {
        grid-template-columns: repeat(1, 25rem);
      }
    }
  }
}

// Styling for mobile

@media screen and (max-width: 480px) {
  main.startsida {
    section.most-sold-products {
      h2 {
        margin-bottom: 3rem;
      }
      .products {
        grid-template-columns: repeat(1, 21.6rem);
      }
      article {
        height: 30.8rem;
      }
      a {
        img {
          width: 2.4rem;
          height: 10.2rem;
        }
        p.country {
          font-size: $p-mobile-subheading-font;
        }
      }
    }
    section.latest-news {
      .news {
        grid-template-columns: repeat(1, 21.8rem);
        article {
          height: 35rem;
        }
        img {
          width: 21.8rem;
          height: 20.9rem;
        }
        p.date {
          font-size: $p-mobile-subheading-font;
        }
      }
    }
  }
}
